<head>
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&family=Poppins&family=Quicksand&family=Ravi+Prakash&family=Roboto:wght@100&family=Rubik+Dirt&display=swap" rel="stylesheet">
</head>

<body>
  <section class=" galeria align-items-stretch">
      <div class="galeria-principal d-flex flex-column justify-content-center align-items-center">

        <h1>LA SAGA NÓRDICA CONTINÚA</h1>
      </div>
      <!--imagen inferior-->

      <div class="card-group">
        <div class="card">
          <img src="https://gmedia.playstation.com/is/image/SIEPDC/god-of-war-ragnarok-watermark-screenshot-01-en-08sep21?$1600px$" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Un futuro sin horizontes</h5>
          <p class="card-text">Atreus busca conocimiento que lo ayude a entender la profecía de "Loki" y establecer su rol en Ragnarök. Kratos debe decidir entre quedarse atado al miedo de repetir sus errores o librarse del pasado para ser el padre que Atreus necesita.</p>

          </div>

        </div>
        <div class="card">
          <img src="https://gmedia.playstation.com/is/image/SIEPDC/god-of-war-ragnarok-watermark-screenshot-12-en-08sep21?$1600px$" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Instrumentos de guerra</h5>
            <p class="card-text">El hacha Leviatán, las Espadas del Caos y el Escudo de guardián regresan junto con una amplia variedad de nuevas habilidades para Kratos y Atreus. Las habilidades espartanas mortales de Kratos se pondrán a prueba como nunca antes, mientras pelea contra dioses y monstruos en los nueve reinos para proteger a su familia.</p>
          </div>

        </div>
        <div class="card">
          <img src="https://gmedia.playstation.com/is/image/SIEPDC/god-of-war-ragnarok-watermark-screenshot-08-en-08sep21?$1600px$" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Explora inmensos reinos</h5>
          <p class="card-text">Viaja a través de peligrosos e increíbles paisajes a la vez que te enfrentas a una variedad de criaturas enemigas, monstruos y dioses nórdicos mientras que Kratos y Atreus buscan respuestas.</p>
          </div>

        </div>
      </div>




  </section>
</body>


















