<body>
<div class="container-navbar">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="https://www.playstation.com/es-cl/" target="_blank" rel="noopener noreferrer">
        <img class="logo-play" src="https://gmedia.playstation.com/is/image/SIEPDC/playstation-family-light-blue-logo-image-block-01-en-17may22?$800px--t$" width="50" alt="Logo de la pagina web"></a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Juegos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Hardware</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Servicios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Tienda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Asistencia</a>
          </li>
        </ul>
        <form class="botones d-flex" role="search">
          <button class="btn-Iniciar-Sesion btn-outline-success" type="submit">Iniciar Sesion</button>
          <button class="btn-Comprar-ahora btn-outline-success" type="submit">Comprar ahora</button>
        </form>
      </div>
    </div>
  </nav>
</div>
</body>


