<body class="slider">
<div class="auto_slider_container">
  <ul class="auto_slider">
      <div><a href="#"><img src="https://i.ytimg.com/vi/dIQGI36BxDE/hqdefault.jpg" class="Slider-img"></a></div>
      <div><a href="#"><img src="https://i.ytimg.com/vi/EE-4GvjKcfs/hqdefault.jpg" class="Slider-img"></a></div>
      <div><a href="#"><img src="https://i.ytimg.com/vi/g1wr0DfV73E/hqdefault.jpg" class="Slider-img"></a></div>
      <div><a href="#"><img src="https://i.ytimg.com/vi/hfJ4Km46A-0/hqdefault.jpg" class="Slider-img"></a></div>
      <div><a href="#"><img src="https://i.ytimg.com/vi/dIQGI36BxDE/hqdefault.jpg" class="Slider-img"></a></div>
      <div><a href="#"><img src="https://i.ytimg.com/vi/tQH0YK1rGVc/hqdefault.jpg" class="Slider-img"></a></div>
  </ul>


</div>
</body>
