
<body>
  <div class="Intro">
    <div class="Wrapper">
      <div class="Intro-imagenes">
        <img class="Intro-img  bg " src="https://gmedia.playstation.com/is/image/SIEPDC/section2a-interactive-bg_widescreen?qlt=87,1&resMode=bilin&fmt=jpg&scl=1" alt="Fondo">
        <img class="Intro-img Kratos" src="https://gmedia.playstation.com/is/image/SIEPDC/section2a-kratos?fmt=png-alpha&scl=1" alt="Kratos">
        <img class="Intro-img Freya"  src="https://gmedia.playstation.com/is/image/SIEPDC/section2a-freya?fmt=png-alpha&scl=1"  alt="Freya">
        <img class="Intro-img boy"    src="https://gmedia.playstation.com/is/image/SIEPDC/section2a-atreus?fmt=png-alpha&scl=1"  alt="Chico">
        <img class="Intro-img Trineo"  src="https://gmedia.playstation.com/is/image/SIEPDC/section2a-sled?fmt=png-alpha&scl=1" alt="Trineo">
        <img class="Intro-img Polvo"   src="https://gmedia.playstation.com/is/image/SIEPDC/section2a-smoke-1-desktop?fmt=png-alpha&scl=1" alt="Polvo">

        <img class="Intro-img Polvo3"   src="https://gmedia.playstation.com/is/image/SIEPDC/section2a-smoke-2-desktop?fmt=png-alpha&scl=1" alt="Polvo3">
        <img class="Intro-img Polvo4"   src="https://gmedia.playstation.com/is/image/SIEPDC/section2a-snow-1-desktop?fmt=png-alpha&scl=1" alt="Polvo4">
        <img class="Intro-img Ruido"   src="https://gmedia.playstation.com/is/image/SIEPDC/section2a-foreground-mobile?fmt=png-alpha&scl=1" alt="ruido-2">

      </div>

        <section class="Intro-section">
          <h3 class="Intro-h3">Embárcate en un épico y cordial viaje mientras Kratos y Atreus luchan por aferrarse y soltar</h3>
          <p class="Intro-p">Desde Santa Monica Studio llega la secuela del aclamado por la crítica God of War (2018). Fimbulvetr ya está en camino. Kratos y Atreus deben viajar a cada uno de los nueve reinos en búsqueda de respuestas, mientras que las fuerzas asgardianas se preparan para una batalla profetizada que terminará con el mundo. En el camino explorarán paisajes increíbles y míticos, y se enfrentarán a aterradores enemigos en la forma de dioses nórdicos y monstruos. La amenaza del Ragnarök cada vez está más cerca. Kratos y Atreus deben elegir entre su propia seguridad y la seguridad de los reinos.</p>

        </section>

    </div>
  </div>
</body>

